@use "../config/functions" as *;
@use "../config/mixins" as *;

.booking {
  color: var(--c-dark);
  &__wrapper {
    max-width: 970px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: em(930.98)){
      flex-direction: column;
    }
  }

  &__main {
    width: 41%;
    flex: 0 1 41%;
    @media (max-width: em(930.98)) {
      width: 100%;
      flex: 0 1 100%;
    }
  }
  &__overwiev {
    width: 54%;
    flex: 0 1 54%;
    @media (max-width: em(930.98)) {
      width: 100%;
      flex: 0 1 100%;
    }
  }

  &__header-block {
    &:not(:last-child) {
      @include adaptive-clamp("margin-bottom", 50, 25);
    }
  }

  &__logo {
  }
  &__logo--img {
  }

  &__title {
    font-family: var(--ff-secondary);
    font-weight: 400;
    
    text-transform: uppercase;
    color: #9d8665;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @include adaptive-clamp("font-size", 50, 25);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #710707;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__form {
  }
}
.overwiev {
  border: 1px solid #000;
  padding: 25px 30px;
  @media (max-width: em(500)){
      padding: 12px 12px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    @media (max-width: em(525)){
       flex-direction: column;
       gap: 10px; 
       margin-bottom: 16px;
    }
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 500;
    color: var(--c-dark-red);
    &:not(:last-child) {
     margin-bottom: 10px; 
    }
  }

  &__booking {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__date {
    display: flex;
    gap: 15px;
    img {
      width: 25px;
      flex-shrink: 0;
    }
  }

  &__time {
    display: flex;
    gap: 15px;
    img {
      width: 25px;
      flex-shrink: 0;
    }
  }

  &__type-ticket {
    display: flex;
    gap: 15px;
    img {
      width: 25px;
      flex-shrink: 0;
    }
  }

  &__images {
  }

  &__price {
    margin-bottom: 10px;
  }

  &__card {
    margin-bottom: 45px;
	}

  &__btn {
    margin: 0 0 0 auto;
  }
}
.slider-overwiev {

  &__swiper {
    width: 150px;
    height: 120px;

  }
  &__wrapper {}

  &__slide {
  }

  &__slide img {
  }
}

.form-booking {
  img {
    flex-shrink: 0;
  }
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  input,
  select {
    width: 100%;
    height: 45px;
    padding: 0 15px 0 43px;
    border: 1px solid var(--c-dark);
    font-size: 18px;
    color: var(--c-dark);
    @media (max-width: em(500)) {
      width: 100%;
      padding: 0 5px 0 35px;
    }
    &::placeholder {
      font-size: 18px;
      color: var(--c-dark);
    }
  }
  &__wrap-date {
    display: flex;
    justify-content: space-between;
  }

  &label {
  }

  &__date {
    width: 47%;
    input {
      @media (max-width: em(500)) {
        padding: 0 0px 0 5px;
      }
    }
  }

  &__time {
    width: 47%;
    input {
      @media (max-width: em(500)) {
        padding: 0 0px 0 5px;
      }
    }
  }

  &__name {
    input {
      background: url('../assets/svg/form/name.svg') no-repeat left 12px center;
    }
  }

  &__email {
    input {
      background: url('../assets/svg/form/email.svg') no-repeat left 12px center;
    }
  }

  &__phone {
    input {
      background: url('../assets/svg/form/phone.svg') no-repeat left 12px center;
    }
  }

  &__select {
    select {
      background: url('../assets/svg/form/type-ticket.svg') no-repeat left 12px center;
    }
  }

  &__steppers {

    .header-block__line {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #9d8665;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.price-overwiev {

		&__list {
      font-weight: 400;
      font-size: 22px;
		}

		&__item {
      display: flex;
      justify-content: space-between;
		}

		&__group {
      display: flex;
      gap: 10px;
      margin-bottom: 12px;
		}

		&__calc {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 32px;
      height: 28px;
      background-color: var(--c-bg-body-dark);
      color: var(--c-white);
      border-radius: 7px;
      font-size: 18px;
		}

		&__text {
		}

		&__price {
		}

    .header-block__line {
      margin-bottom: 10px;
    }

		&__total {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 32px;
		}

		&__total-title {
		}

		&__total-price {
		}
}
/* .card {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #161615;

  input {
    background-color: #fff;
    padding: 0 10px;
    height: 35px;
  }
  &__front {
    position: relative;
    z-index: 1;
    background: #bcbcbc;
    padding: 15px 20px 25px 20px;
    border-radius: 8px;
    max-width: 360px;
    @media (max-width: em(500)){
      max-width: 100%; 
      padding: 8px 12px 15px 12px; 
    }

    img {
      position: absolute;
      top: 34px;
      right: 20px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  &__number {
    width: 67%;
    margin-bottom: 10px;
  }

  &__date {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }

  &__month {
    width: 31%;
  }

  &__year {
    width: 31%;
  }

  &__name {
    width: 100%;
  }

  &__back {
    //display: none;

    position: absolute;
    top: 30px;
    right: 0;
    width: 360px;
    @media (max-width: em(500)){
      display: none;
    }
  }

  &__wrapper {
    background: #939393;
    border-radius: 8px;
    max-width: 360px;
    height: 211px;
    position: relative;
  }

  &__line {
    position: absolute;
    top: 25px;
    right: 0;
    width: 100%;
    height: 45px;
    background: #161615;
  }

  &__cvv {
    position: absolute;
    right: 20px;
    bottom: 15px;
    max-width: 75px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      display: block;
    }
  }

  &__text {
  }

  &__info {
  }
} */

.stappers-booking {
  font-weight: 400;
  font-size: 18px;
  &__basic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__senior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__subtitle {
  }

  &__stepper {
  }
}

.error {
  display: block;
  color: red;
  font-size: 14px;
}
input.valid, 
select.valid, 
textarea.valid {
  border: 2px solid green;
}

input.invalid, 
select.invalid, 
textarea.invalid {
  border: 2px solid red;
}
