@use '../config/functions' as *;
@use '../config/mixins' as *;
@use '../config/css-variables' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 25px;

  &--text {
    font-family: var(--ff-secondary);
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #ffffff;
    transform: 0.3s all;

    @media (any-hover: hover) {
      &:hover {
        color: var(--c-font-gold);
      }
    }
  }
}

.header-block {
  &__title {
    font-family: var(--ff-secondary);
    font-size: 80px;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--c-font-gold);

    &:not(:last-child) {
      margin-bottom: 25px; // welcome section and long line
    }

    &--white {
      color: var(--c-white);
    }

    @media (width <= 1024px) {
      font-size: 50px;
    }

    @media (width <= 767.98px) {
      font-size: 40px;
    }

    @media (width <= 450px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    font-family: var(--ff-primary);
    color: var(--second-color);
  }

  &__line {
    width: 100%;
    height: 3px;
    background-color: #710707;
  }
}

.color-span {
  color: var(--c-yellow-first);
}
