@use "../config/functions" as *;
@use "../config/mixins" as *;

.contacts {
  color: var(--second-color);
  &__container {
  }

  &__header-block {
    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  &__title {
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__address {
  }

  &__map {
    width: 960px;
    height: 620px;
    @media (max-width: 1280px) {//1024
      width: 694px;
      height: 454px;
    }
    @media (max-width: 990px) {//767.98
      width: 100%;
      //width: 728px;
      height: 476px;
    }
    @media (max-width: 425px) {
      height: 248px;
    }
  }
}
.address {

  &__item {
    display: block;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 50px;    
  }

  &__span { 
  }

  &__link {
  }
}
@media (max-width: 1024px){
  .contacts {
    &__container {
    }

    &__header-block {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    &__title {      
    }

    &__content {
    }

    &__address {
    }

    &__map {

    }
  }
  .address {

    &__item {
      margin-bottom: 15px;
      font-size: 20px;
    }

    &__title {
      margin-bottom: 35px;
      font-size: 24px;
    }

    &__span { 
    }

    &__link {
    }
  }
}
@media (max-width: 990px){
  .contacts {
    &__container {
    }

    &__header-block {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__title {
    }

    &__content {
      flex-direction: column;
    }

    &__address {
      margin-bottom: 40px;
    }

    &__map {
    }
  }
  .address {

    &__item {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 40px;
    }

    &__span { 
    }

    &__link {
    }
  }
}
@media (max-width: 425px){
  .contacts {
    &__container {
    }

    &__header-block {
    }

    &__title {
    }

    &__content {
    }

    &__address {
    }

    &__map {
    }
  }
  .address {

    &__item {
      font-size: 16px;
    }

    &__title {
      font-size: 16px;
    }

    &__span { 
    }

    &__link {
    }
  }
}
