@use "../config/functions" as *;
@use "../config/mixins" as *;

.explore {
  background-color: var(--c-bg-body-dark);
	&__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1440px){
      flex-direction: column;
      align-items: center;
    }
	}
	&__content {
    max-width: 660px;
    @media (max-width: 1440px){
      max-width: 100%;
    }
	}
  &__images {
    width: 720px;
    @media (max-width: 767.98px){
      width: 100%;
    }
  }
	&__header-block {
    &:not(:last-child) {
      @include adaptive-clamp("margin-bottom", 75, 25);
    }
	}
	&__title {
	}
  &__text {
    @include adaptive-clamp("margin-bottom", 60, 10);
  }
	&__text p {
    &:not(:last-child) {
      @include adaptive-clamp("margin-bottom", 25, 10);
    }
	}
} 
