@use "../config/functions" as *;
@use "../config/mixins" as *;

.explore {
  background-color: var(--c-bg-body-dark);
	&__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1095px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
	}
	&__content {
    max-width: 660px;
    @media (max-width: 1095px){
      max-width: 100%;
    }
	}

	&__header-block {
    &:not(:last-child) {
      margin-bottom: 75px;
    }
    @media (max-width: 1024px){
      &:not(:last-child) {
        margin-bottom: 62px;
      }
    }
    @media (max-width: 767.98px){
      &:not(:last-child) {
        margin-bottom: 40px;
      }    
    }
	}

	&__title {
	}

	&__text p {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    @media (max-width: 767.98px){
      display: none;        
    }
	}
  &__text--hidden {
    @media (max-width: 1025px){
      display: none;        
    }
  }

	&__images {//440
    max-width: 440px;
    @media (max-width: 1024px){
       max-width: 100%; 
    }
	}
}


