@use '../config/functions' as *;
@use '../config/mixins' as *;

.footer {
  background-color: var(--c-bg-body-dark);

  &__top {
    display: grid;
    grid-template-columns: 195px 365px 1fr;
    column-gap: 145px;
    padding-top: 85px;
    padding-bottom: 50px;
    border-bottom: 3px solid #666666;

    @media (width <= 1230px) {
      grid-template-columns: 195px 315px 1fr;
      column-gap: 45px;
      padding-top: 65px;
      padding-bottom: 50px;
    }

    @media (width <= 980px) {
      grid-template-rows: 125px 48px;
      grid-template-columns: 199px 395px;
      gap: 45px 80px;
      padding-top: 57px;
      padding-bottom: 40px;
    }

    @media (width <= 650px) {
      grid-template-rows: 20px 1fr 48px;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }

  &__logo {
    align-self: start;
  }

  &__menu {
    @media (width <= 650px) {
      grid-row-start: 2;
    }
  }

  &__social {
    align-self: end;

    @media (width <= 980px) {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    @media (width <= 650px) {
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0.09em;

    @media (width <= 767.98) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__bottom--school {
    @media (width <= 650px) {
      display: none;
    }
  }
}

.menu-footer {
  font-weight: 100;
  line-height: 1;
  letter-spacing: 0.09em;

  @include adaptive-clamp('font-size', 22, 16);

  &__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 25px 16px;

    @media (width <= 650px) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      row-gap: 8px;
    }
  }
}

.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 22px;

    @media (width <= 980px) {
      justify-content: start;
    }

    @media (width <= 650px) {
      justify-content: center;
      gap: 5px;
    }
  }

  &__item {
    position: relative;
    width: 48px;
    height: 48px;
    color: var(
      --c-white
    ); // начальный цвет иконки и текста внутри (currentColor)

    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
    transition:
      transform 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      transition: fill 0.3s ease;
      transform: translate(-50%, -50%);
      fill: currentColor; // цвет иконки берётся из color родителя
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--c-font-gold); // меняем цвет иконки при ховере
        border-color: var(--c-font-gold);
        transform: scale(1.1);
      }
    }
  }
}
