//@use "../config/functions" as *;
//@use "../config/mixins" as *;
//@use "../config/variables" as global;

.footer {  
  
  background-color: var(--c-bg-body-dark);
  &__container {
  }

  &__top {
    display: grid;
    grid-template-columns: 195px 365px 1fr;
    column-gap: 145px;
    padding-top: 85px;
    padding-bottom: 50px;
    border-bottom: 3px solid #666;
    @media (max-width: 1230px){
      padding-top: 65px;
      padding-bottom: 50px;
      grid-template-columns: 195px 315px 1fr;
      column-gap: 45px;
    }
    @media (max-width: 980px){
      padding-top: 57px;
      padding-bottom: 40px;
      grid-template-columns: 199px 395px;
      grid-template-rows: 125px 48px;
      column-gap: 80px;
      row-gap: 45px;
    }
    @media (max-width: 650px){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 20px 1fr 48px;
      gap: 40px;
    }
  }

  &__logo {
    align-self: start;
  }

  &__menu {
    @media (max-width: 650px){
      grid-row-start: 2;
    }
  }

  &__social {
    align-self: end;
    @media (max-width: 980px){
      grid-column-start: 2;
      grid-row-start: 2;
    }
    @media (max-width: 650px){
      grid-column-start: 1;
      grid-row-start: 3;        
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.09em;
    @media (max-width: 767.98){
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__bottom--school {
    @media (max-width: 600px){
       display: none; 
    }
  }
  &__bottom--developer {
  }
}
.menu-footer {
  font-weight: 100;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.09em;
  &__list {
    display: flex;
    column-gap: 150px;
    @media (max-width: 650px){
      column-gap: 20px;
      justify-content: space-around; 
    }
  }

  &__column {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
  }
}
.social {

		&__list {
      display: flex;
      align-items: center;
      justify-content: end;
      flex-wrap: wrap;
      gap: 25px;
      @media (max-width: 980px){
         justify-content: start; 
      }
      @media (max-width: 650px){
        gap: 5px;
        justify-content: center;          
      }
		}

		&__item {
        position: relative;
        width: 48px;
        height: 48px;
        border: 1px solid #666666;
        border-radius: 50%;
        transition: var(--transition);
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        @media (any-hover: hover){
          &:hover{
            transform: scale(1.1);
            border: 1px solid var(--c-font-gold);
          }
        }
		}
}
.year-development {
}
