@use "../config/functions" as *;
@use "../config/mixins" as *;

.gallery {
  background-color: var(--c-bg-body-dark);
  overflow-y: hidden;
  position: relative;
  &__container {
  }
  &__header-block {
    @include adaptive-clamp("margin-bottom", 75, 25);
  }
  &__title {
  }
  &__items {
    @include adaptive-clamp("height", 1960, 850);
  }

  &__inner-container {
    display: flex;
    justify-content: space-between;
    column-gap: 18px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 52px;
    &--middle {
      margin-top: 0;
    }
    &--last {
      @media (max-width: 768px){
        display: none;  
      }
    }
  }

  &__img {
    //javascript
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    //height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    @include adaptive-clamp("height", 360, 260);
  }
}
.animation-gallery {
  opacity: 1;
  transform: translate(0px, 0px);
}
