@use "../config/functions" as *;
@use "../config/mixins" as *;

.gallery {
  background-color: var(--c-bg-body-dark);
  overflow-y: hidden;
  position: relative;
  &__container {
  }

  &__header-block {
    margin-bottom: 75px;
    @media (max-width: 1024px){
       margin-bottom: 60px; 
    }
    @media (max-width: 768px){
       margin-bottom: 40px; 
    }
  }

  &__title {
  }

  &__items {
    height: 1960px;
    @media (max-width: 1024px){
       height: 1460px; 
    }
    @media (max-width: 768px){
       height: 1215px; 
    }
        @media (max-width: 1024px){
       height: 756px; 
    }
  }

  &__inner-container {
    display: flex;
    column-gap: 36px;
    @media (max-width: 768px){
       column-gap: 24px; 
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 52px;
    &--middle {
      margin-top: 0;
    }
    &--last {
      @media (max-width: 768px){
        display: none;  
      }
    }
  }

  &__img {
    //javascript
    //transform: translate(0px, 50%);
    //opacity: 0;
    transition: all 0.8s ease 0s;
    width: 456px;
    @media (max-width: 1024px){
      width: 304px; 
    }
    @media (max-width: 768px){
      width: 352px; 
    }
    @media (max-width: 425px) {
       width: 178px; 
    }
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}

.animation-gallery {
  //opacity: 1;
  //transform: translate(0px, 0px);
}
