@use './../base/header-fon';
@use './../base/burger';
@use '../config/functions' as *;
@use '../config/mixins' as *;
@use '../config/variables' as global;

$menuColor: #ffffff; // text
$menuBackground: #000000; // background
$iconMenuColor: #000000; // burger button

.header {
  position: relative;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--c-bg-body-dark);

  &__logo {
    position: relative;
    z-index: 5;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adaptive-clamp('column-gap', 20, 15);
    @include adaptive-clamp('padding-top', 50, 20);
    @include adaptive-clamp('padding-bottom', 50, 20);
  }
}

.menu {
  &__body {
    @media (width <= 1024px) {
      position: fixed;
      top: 0;
      left: -100%;
      overflow: auto;
      display: grid;
      grid-template-rows: 1fr auto;
      gap: rem(25);
      width: 31%;
      height: 100%;
      padding: rem(120) rem(15) rem(35) rem(35);
      background-color: $menuBackground;
      transition: left 0.3s;

      &::before {
        content: '';
        position: fixed;
        z-index: 2;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: $menuBackground;
        transition: left 0.3s;

        @include adaptive-clamp('height', 110, 60);
      }
    }

    @media (width <= 768px) {
      width: 100%;
      padding: rem(120) rem(55) rem(35);
    }

    @media (width <= 400px) {
      width: 100%;
      padding: rem(80) rem(15) rem(15);
    }
  }

  &__wrapper {
    @media (width <= 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__images,
  &__social {
    display: none;

    @media (width <= 768px) {
      display: block;
    }
  }

  &__images {
    @media (width <= 768px) {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 35px;
      padding-bottom: 35px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    @media (width <= 425px) {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
      margin-bottom: 24px;
      padding-bottom: 20px;
    }
  }

  &__image {
    &--1 {
      @media (width <= 768px) {
        grid-column: span 2 / span 2;
      }

      @media (width <= 425px) {
        grid-column: auto;
      }
    }

    &--2 {
      @media (width <= 768px) {
        grid-row-start: 2;
      }

      @media (width <= 425px) {
        grid-row-start: auto;
      }
    }

    &--3 {
      @media (width <= 768px) {
        grid-row-start: 2;
      }

      @media (width <= 425px) {
        grid-row-start: auto;
      }
    }
  }

  &__social .social__list {
    @media (width <= 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 50px;

    @media (width <= 1300px) {
      column-gap: 30px;
    }

    @media (width <= 1200px) {
      column-gap: 10px;
    }

    @media (width <= 1024px) {
      flex-direction: column;
      align-items: start;
      column-gap: rem(25);
    }

    @media (width <= 768px) {
      margin-bottom: 35px;
    }
  }

  &__link {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 0.09em;
    color: #ffffff;

    @media (width <= 1024px) {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 122px;
      font-size: rem(20);
      color: $menuColor;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        height: 12px;
        background: url('../assets/svg/arrow-burger.svg');
        transform: translateY(-50%);
      }
    }
  }
}

@media (width <= 1024px) {
  .menu-open.menu__body {
    left: 0;
  }

  .menu-open.menu__body::before {
    left: 0;
  }
}
