@use '../config/functions' as *;
@use '../config/mixins' as *;

.welcome {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--c-bg-body-dark);

  &__container {
    position: relative;
  }

  &__content {
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (width <= 1024px) {
      top: 50px;
    }

    @media (width <= 768px) {
      top: 0;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%);
    }
  }

  &__images {
    margin-left: 30.6%;

    @media (max-width: em(1024)) {
      margin-left: 29%;
    }

    @media (max-width: em(768)) {
      margin-left: 0;
      padding-top: 215px;
    }

    @media (max-width: em(450)) {
      padding-top: 150px;
    }
  }

  &__header-block {
    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.07em;
    color: #ffffff;

    @media (max-width: em(1024)) {
      font-size: 24px;
    }

    @media (max-width: em(768)) {
      font-size: 20px;
    }

    @media (max-width: em(450)) {
      font-size: 16px;
    }
  }

  &__action {
    @media (max-width: em(768)) {
      display: none;
    }
  }
}

.welcome__content.menu-open {
  z-index: 1;
}

.slider-welcome {
  &__swiper {
    position: relative;
    overflow: hidden;
    max-width: 1000px;
    padding-bottom: 55px;

    @media (max-width: em(1024)) {
      padding-bottom: 120px;
    }

    @media (max-width: em(768)) {
      padding-bottom: 96px;
    }
  }

  &__slide {
    position: relative;

    @media (max-width: em(1024)) {
      overflow: hidden;
      height: 465px;
    }

    @media (max-width: em(768)) {
      overflow: initial;
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #030303 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );

      @media (max-width: em(768)) {
        display: none;
      }
    }
  }

  &__controls {
    position: absolute;
    z-index: 14;
    bottom: 0;
    left: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 60%;
    height: 120px;
    padding: 40px 74px;
    background-color: var(--c-bg-body-dark);

    @media (max-width: em(1220)) {
      padding: 40px 35px;
    }

    @media (max-width: em(1024)) {
      left: 0;
      width: 100%;
      padding: 40px 74px 40px 220px;
    }

    @media (max-width: em(900)) {
      padding: 10px;
    }

    @media (max-width: em(768)) {
      justify-content: center;
      column-gap: 40px;
      height: 100px;
      padding: 10px;
    }

    @media (max-width: em(450)) {
      height: 80px;
    }
  }

  &__counter {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: em(768)) {
      font-size: 20px;
    }

    @media (max-width: em(450)) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__prew {
    width: 30px;
    height: 8px;
    cursor: pointer;

    @media (max-width: em(450)) {
      width: 20px;
    }
  }

  &__next {
    width: 30px;
    height: 8px;
    cursor: pointer;

    @media (max-width: em(450)) {
      width: 20px;
    }
  }
}

.dots.swiper-horizontal > .swiper-pagination-bullets,
.dots.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.dots.swiper-pagination-fraction,
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  cursor: pointer;

  @media (max-width: em(450)) {
    gap: 10px;
  }
}

.swiper-pagination-bullet,
.dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #ffffff;

  @media (max-width: em(1024)) {
    width: 12px;
    height: 12px;
  }

  @media (max-width: em(450)) {
    width: 7px;
    height: 7px;
  }
}

.swiper-pagination-bullet-active,
.dot_active {
  background: #d2b183;
}

.swiper-button-disabled {
  opacity: 0.6;
}
