@use "../config/functions" as *;
@use "../config/mixins" as *;

.welcome {
    background-color: var(--c-bg-body-dark);
    height: 810px;
    &__container {
        position: relative;
        display: flex;
        justify-content: end;
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-65%);
        left: 0;
        z-index: 10;
    }
    &__images {
        margin-top: -75px;
        width: 1000px;
        height: 810px;
        position: relative;
        &::before{
            position: absolute;
            content:'';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
            z-index: 2;
        }        
    }

    &__header-block {
        &:not(:last-child) {
            margin-bottom: 75px
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 25px
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 28px;
        letter-spacing: 0.07em;
        color: #fff;
        @media (max-width: em(1024)){
            font-size: 24px; 
        }
        @media (max-width: em(767.98)){
            font-size: 20px;
        }
        @media (max-width: em(450)){
            font-size: 16px;
        }
    }

    &__action {
    }

    &__btn {
    }
}
.slider-welcome {
    &__swiper {
    }

    &__wrapper {
    }

    &__slide {
    }

    &__pagination {
    }

    &__prew {
    }

    &__next {
    }

}
@media (max-width: 1024px){
}
@media (max-width: 767.98px){
}
@media (max-width: 450px){
}





.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
