.parallax {
  width: 100%;
  min-height: 400px;
  background: url('../assets/img/parallax.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (width <= 1024px) {
    min-height: 300px;
  }
}
