.parallax {
    width: 100%;
    background: url(../assets/img/parallax.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    @media (max-width: 1024px) {
        min-height: 300px;
    }
}