//@use "../config/variables" as global;
 @use "../config/functions" as *;
@use "../config/mixins" as *;
//@use '../config/root' as *;

.visiting {

		&__container {
		}
		&__header-block {
      &:not(:last-child) {
        margin-bottom: 75px;
      }
      @media (max-width: 1025px){
        &:not(:last-child) {
          margin-bottom: 60px;
        }
      }
		}
		&__title {
		}
		&__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 70px;
      column-gap: 60px;
      @media (max-width: 1440px){
        justify-content: center;
        column-gap: 108px;
        row-gap: 58px;          
      }
      @media (max-width: 1023px) {
        column-gap: 56px;
        row-gap: 40px;
      }
      @media (max-width: 767.98px) {
        row-gap: 40px;
      }

		}
		&__card {
		}
}

.card-visiting {
    color: var(--c-dark);
    transition: all 0.3s;
    @media (any-hover: hover){
      &:hover{
        filter: grayscale(50%);
      }
    } 
    &__image {
      width: 440px;
      height: 285px;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      @media (max-width: 1440px) {
        width: 330px;
        height: 215px;
        &:not(:last-child) {
          margin-bottom: 22px;
        }
      }
      @media (max-width: 1023.98px) {
        width: 280px;
        height: 180px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &__img {
    }
    &__title {
      font-family: var(--ff-secondary);
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      &::before{
        position: absolute;
        content:'';
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 68%;
        background-color: var(--c-dark-red);
        transition: all 0.3s;
      }
      @media (max-width: 1440px) {
        font-size: 28px;
      }
      @media (max-width: 1023.98px) {
        font-size: 22px;
      }
    }
    &__google {
      font-size: 18px;
      @media (max-width: 1440px) {
        font-size: 16px;
      }
      @media (max-width: 1023.98px) {
      }
    }
    &__descr {
      font-weight: 100;
      font-size: 22px;
      @media (max-width: 1440px) {
        font-size: 20px;
      }
      @media (max-width: 1023.98px) {
        font-size: 18px;
      }
    }
}
.card-visiting:hover {
  .card-visiting__title::before {
    width: 100%;
  }
}

