@use "../config/functions" as *;
@use "../config/mixins" as *;

.tickets {
  color: var(--second-color);
  &__container {
  }
  &__header-block {
    @include adaptive-clamp("margin-bottom", 75, 40);
  }
  &__title {
  }
  &__content {
    display: grid;
    grid-template-columns: 50% 45%;
    @include adaptive-clamp("gap", 60, 30);
    @media (max-width: em(920)){
       grid-template-columns: auto;
    }
  }
  &__image {
    max-width: 720px;
    width: 100%;
    @media (max-width: em(920)){
      margin: 0 auto;        
    }
    @media (max-width: em(767.98)){
       max-width: 500px; 
    }
    @media (max-width: em(550)){
       max-width: 380px; 
    }
    @media (max-width: em(425)){
       max-width: 280px; 
    }
  }
  &__booking {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
    @media (max-width: em(920)){
      justify-content: space-around;
    }
    @media (max-width: em(500)){
       flex-direction: column;
       align-items: center;
       justify-content: center; 
    }
  }
  &__amount {
    display: flex;
    flex-direction: column;
  }
}
.slider-tickets {

  &__swiper {
  }

  &__wrapper {

  }

  &__slide {
    aspect-ratio: 720 / 550;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.type-tickets {

  &__title {
    font-weight: 700;
    font-size: 28px;
    @include adaptive-clamp("margin-bottom", 50, 25);
  }

  &__label {
    display: flex;
    align-items: center;  
    gap: 16px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__span {
  }

  &__input {

    &--radio {
      width: 17px;
      height: 17px;
      background-color: transparent;
      border: 1px solid #000;
      border-radius: 50%;
    }
  }
}
.amount {
  min-width: 210px;
  &__title {
    margin-bottom: 25px;
    text-align: end;
    font-weight: 700;
    font-size: 28px;
    @media (max-width: em(500)){
     text-align: start; 
    }
  }

  &__subtitle {
    margin-bottom: 13px;
  }

  &__stepper {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px 5px;
    margin-bottom: 10px;
    border: 3px solid #000;
  }

  &__button {
    background: none;
    border: none;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
  }

  &__price {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.65px;
    @include adaptive-clamp("margin-top", 35, 20);
    @include adaptive-clamp("margin-bottom", 58, 25);
  }

  &__btn {
    @media (max-width: em(500)){
      width: 100%;
      //display: flex;  
    }
  }
}
.stapper {

  &__button {
  }

  &__number {
    text-align: center;
  }

  &__number--basic {
  }

  &__number--senior {
  }
}



