// @use '../../config/mixins';
// @use '../../config/functions';

.main-player {
  position: relative;

  &__wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1440 / 650;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding: 25px 30px;
    background-color: var(--c-dark);

    @media (width <= 1024px) {
      padding: 15px 40px;
    }

    @media (width <= 768px) {
      position: relative;
      column-gap: 10px;
      padding: 15px 16px 10px;
    }
  }

  &__play-btn {
    width: 23px;
    height: 31px;
    background: url('../assets/svg/play.svg') center / cover no-repeat;

    &.pause {
      background: url('../assets/svg/pause.svg') center / cover no-repeat;
    }

    @media (width <= 1024px) {
      width: 23px;
      height: 30px;
    }
  }

  &__big-btn {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    display: block;
    width: 220px;
    height: 220px;
    background: url('../assets/svg/main-play.svg') center / cover no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);

    @media (width <= 1024px) {
      width: 150px;
      height: 150px;
    }

    @media (width <= 768px) {
      width: 80px;
      height: 80px;
    }

    @media (width <= 550px) {
      width: 60px;
      height: 60px;
    }
  }

  &__mute {
    width: 38px;
    height: 31px;
    background: url('../assets/svg/volume.svg') center / cover no-repeat;

    &.muted {
      background: url('../assets/svg/mute.svg') center / cover no-repeat;
    }

    @media (width <= 1024px) {
      width: 26px;
      height: 20px;
    }
  }

  &__fullscreen {
    width: 36px;
    height: 36px;
    background: url('../assets/svg/fullscreen.svg') center / cover no-repeat;

    @media (width <= 1024px) {
      width: 26px;
      height: 26px;
    }
  }

  &__fullscreen-exit {
    width: 36px;
    height: 36px;
    background: url('../assets/svg/fullscreen_exit.svg') center / cover
      no-repeat;

    @media (width <= 1024px) {
      width: 26px;
      height: 26px;
    }
  }

  &__progress,
  &__volume {
    appearance: none;
    height: 4px;
    background: #c4c4c4;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: background 450ms ease-in;
  }

  &__progress::-webkit-slider-thumb,
  &__volume::-webkit-slider-thumb {
    appearance: none;
    width: 13px;
    height: 13px;
    background: #ffffff;
    border-radius: 50px;
    cursor: ew-resize;
  }

  &__progress {
    width: 63%;

    @media (width <= 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
    }
  }

  &__volume {
    width: 11%;

    @media (width <= 768px) {
      width: 65%;
    }
  }

  &__speed {
    position: absolute;
    right: 20px;
    bottom: 100%;
    padding: 4px 8px;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

/* 
import customMainVideoPlayer from "./section-video/customMainVideoPlayer";

<div class="video__main-player main-player">
  <div class="main-player__wrapper">
    <video class="main-player__video" preload="none">
      <source src="assets/video/video0.mp4" type="video/mp4">
      <source src="assets/video/video0.webm" type="video/webm">
      Ваш браузер не поддерживает видео.
    </video>
    <img class="main-player__preloader" src="assets/video/poster0.webp" alt="Loading" loading="lazy">
    <button class="main-player__big-btn"></button>
  </div>
  <div class="main-player__setting" id="setting">
    <button class="main-player__play-btn"></button>
    <input class="main-player__progress" type="range" value="0" step="0.1" min="0" max="100">
    <button class="main-player__mute"></button>
    <input class="main-player__volume" type="range" min="0" max="1" step="0.01" value="0.4">
    <button class="main-player__fullscreen"></button>
  </div>
  <div class="main-player__speed">1x</div>
</div>
*/
