//@use '../../config/mixins'; 
//@use '../../config/functions'; 

.main-player {
  position: relative;
  &__wrapper {
    position: relative;
    aspect-ratio: 1440 / 650;
    //padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    overflow: hidden;
	}

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__setting {
    background-color: var(--c-dark);
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
  }

  &__play-btn {
    width: 23px;
    height: 31px;
    background: url('../../assets/svg/play.svg') center / cover no-repeat;
    &.pause {
      background: url('../../assets/svg/pause.svg') center / cover no-repeat;
    }
  }

  &__big-btn {
    background: url('../../assets/svg/main-play.svg') center / cover no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: block;
  }

  &__mute {
    width: 38px;
    height: 31px;
    background: url('../../assets/svg/volume.svg') center / cover no-repeat;
    &.muted {
      background: url('../../assets/svg/mute.svg') center / cover no-repeat;
    }
  }

  &__fullscreen {
    width: 36px;
    height: 36px;
    background: url('../../assets/svg/fullscreen.svg') center / cover no-repeat;
  }

  &__fullscreen-exit {
    width: 36px;
    height: 36px;
    background: url('../../assets/svg/fullscreen_exit.svg') center / cover no-repeat;
  }

  &__progress,
  &__volume {
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #C4C4C4;
    border-radius: 2px;
    cursor: pointer;
  }
  &__progress::-webkit-slider-thumb,
  &__volume::-webkit-slider-thumb {
    border-radius: 50px;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
  }
  &__progress {
    width: 63%;
    //width: 930px;
  }

  &__volume {
    width: 11%;
    //width: 155px;
  }

  &__speed {
    position: absolute;
    bottom: 100%;
    right: 20px;
    font-size: 14px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}


