// @use '../../config/mixins';
// @use '../../config/functions';
.slider-video {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px; // до буллетов

    @media (width <= 768px) {
      margin-bottom: 20px;
    }

    @media (width <= 425px) {
      margin-bottom: 40px;
    }
  }

  &__slide {
    position: relative;
    overflow: hidden;

    // width: 452px;
    // height: 254px;
    aspect-ratio: 452 / 254;
    cursor: pointer;
  }

  &__video-container {
    position: absolute;
    z-index: 10;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &__video-thumb {
    position: absolute;
    z-index: 20;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  &__play-btn {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: url('../assets/svg/play.svg') no-repeat center center;
    background-size: 60% 60%;
    border: none;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    @media (width <= 768px) {
      width: 45px;
      height: 45px;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__button {
    width: 10px;
    height: 12px;
    cursor: pointer;

    @media (width <= 420px) {
      width: 8px;
      height: 8px;
    }
  }

  &__button-next {
    background-image: url('../assets/svg/video-arr-left.svg');
  }

  &__button-prev {
    background-image: url('../assets/svg/video-arr-right.svg');
  }
}

.slider-dot {
  // bullets
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 100%;
  cursor: pointer;

  &_active {
    background-color: #333333;
  }
}
