//@use '../../config/mixins'; 
//@use '../../config/functions'; 
.slider-video {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide {
    width: 452px;
    height: 254px;
    aspect-ratio: 452 / 254;
    margin-bottom: 40px;//до буллетов
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 768px){
       margin-bottom: 20px; 
    }
    @media (max-width: 425px){
       margin-bottom: 40px; 
    }
  }
  &__video-container {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__video-thumb {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 20;
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: url('../../assets/svg/play.svg') no-repeat center center;
    background-size: 60% 60%;
    border: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 30;
    opacity: 0.8;
    transition: opacity 0.3s;
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__button {
    width: 10px;
    height: 12px;
    cursor: pointer;
    @media (max-width: 420px){
      width: 8px;
      height: 8px;
    }
  }

  &__button-next {
    background-image: url(../assets/svg/video-arr-left.svg);
  }

  &__button-prev {
    background-image: url(../assets/svg/video-arr-right.svg);
  }
}
.slider-dot {//bullets
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #999;

  &_active {
    background-color: #333;
  }
} 
