@use '../../config/mixins'; 
@use '../../config/functions'; 
.slider-video {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide {
    //width: 452px;
    //height: 254px;
    aspect-ratio: 452 / 254;
    margin-bottom: 40px;//до буллетов
    @media (max-width: 768px){
       margin-bottom: 20px; 
    }
    @media (max-width: 425px){
       margin-bottom: 40px; 
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__button {
    //background-color: transparent;
    //box-sizing: border-box;
    //border: none;
    //outline: none;
    //background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    cursor: pointer;
    //transition: all 0.3s;
    @media (max-width: 420px){
      width: 8px;
      height: 8px;
      //background-size: 100% 100%; 
    }
  }

  &__button-next {
    background-image: url(../assets/svg/video-arr-left.svg);
  }

  &__button-prev {
    background-image: url(../assets/svg/video-arr-right.svg);
  }
}
.slider-dot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #999;

  &_active {
    background-color: #333;
  }
} 