@use './../config/functions' as *;
@use './../config/mixins' as *;

.card {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #161615;

  input {
    height: 35px;
    padding: 0 10px;
    background-color: #ffffff;
  }

  &__front {
    position: relative;
    z-index: 1;
    max-width: 360px;
    padding: 15px 20px 25px;
    background: #bcbcbc;
    border-radius: 12px;

    @media (max-width: em(500)) {
      max-width: 100%;
      padding: 8px 12px 15px;
    }

    img {
      position: absolute;
      top: 34px;
      right: 20px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  &__number {
    width: 67%;
    margin-bottom: 10px;
  }

  &__date {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }

  &__month {
    width: 30%;
  }

  &__year {
    width: 30%;
  }

  &__name {
    width: 97%;
  }

  &__back {
    display: none;
  }
}
