@use './../config/functions' as *;
@use './../config/mixins' as *;

.card {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #161615;

  input {
    background-color: #fff;
    padding: 0 10px;
    height: 35px;
  }
  &__front {
    position: relative;
    z-index: 1;
    background: #bcbcbc;
    padding: 15px 20px 25px 20px;
    border-radius: 12px;
    max-width: 360px;
    @media (max-width: em(500)){
      max-width: 100%; 
      padding: 8px 12px 15px 12px; 
    }

    img {
      position: absolute;
      top: 34px;
      right: 20px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  &__number {
    width: 67%;
    margin-bottom: 10px;
  }

  &__date {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }

  &__month {
    width: 31%;
  }

  &__year {
    width: 31%;
  }

  &__name {
    width: 100%;
  }

  &__back {
    display: none;//=================

    position: absolute;
    top: 30px;
    right: 0;
    width: 360px;
    @media (max-width: em(500)){
      display: none;
    }
  }

  &__wrapper {
    background: #939393;
    border-radius: 8px;
    max-width: 360px;
    height: 211px;
    position: relative;
  }

  &__line {
    position: absolute;
    top: 25px;
    right: 0;
    width: 100%;
    height: 45px;
    background: #161615;
  }

  &__cvv {
    position: absolute;
    right: 20px;
    bottom: 15px;
    max-width: 75px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      display: block;
    }
  }

  &__text {
  }

  &__info {
  }
}