@use 'form';
@use 'scrollUp';

// @use 'timer-countdown';
// @use 'tabs';
@use 'popup';

// @use 'spollers';
@use 'map';
@use 'hover';
@use 'button';
@use 'slider-comparison';
@use 'stepper';
@use 'bank-card';
