@use './../config/css-variables' as *;
//@use './../config/functions' as *;
@use './../config/mixins' as *;
/* .button {
    border-radius: rem(8);
    text-align: center;
    padding-block: rem(16);
    padding-inline: rem(40);

    font-weight: 500;
    font-size: rem(20);
    line-height: 1.2;
    letter-spacing: 0.03em;
    background-color: var(--c-purple);
    color: var(--c-white);
    
    transition: all 0.3s;
    @media (any-hover: hover){
        &:hover{
        }
    }   
} */

.btn {
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: var(--c-dark);
    color: var(--c-white);
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.09em;
    text-align: center;
    @media (any-hover: hover){
        &:hover{
            background-color: var(--c-font-gold);
            color: var(--c-dark);
        }
    }

    &--accent {
        background-color: var(--c-dark-red);
        @media (any-hover: hover){
            &:hover{
                background-color: var(--c-font-gold);
                color: var(--c-white);
            }
        }
    }

    &--big {
        padding: 26px 64px;
        border-radius: 10px;        
        @media (max-width: 1024px){
            padding: 20px 45px;
            font-size: 20px; 
        }    
    }

    &--long {
        padding: 11px 85px;
    }

    @media (max-width: 500px) {
        //width: 100%;
        //display: flex;
    }
}

