@use './../config/css-variables' as *;

// @use './../config/functions' as *;
@use './../config/mixins' as *;

/* .button {
    border-radius: rem(8);
    text-align: center;
    padding-block: rem(16);
    padding-inline: rem(40);

    font-weight: 500;
    font-size: rem(20);
    line-height: 1.2;
    letter-spacing: 0.03em;
    background-color: var(--c-purple);
    color: var(--c-white);
    
    transition: all 0.3s;
    @media (any-hover: hover){
        &:hover{
        }
    }   
} */

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-align: center;
  color: var(--c-white);
  background-color: var(--c-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      color: var(--c-dark);
      background-color: var(--c-font-gold);
    }
  }

  &--accent {
    background-color: var(--c-dark-red);

    @media (any-hover: hover) {
      &:hover {
        color: var(--c-white);
        background-color: var(--c-font-gold);
      }
    }
  }

  &--big {
    padding: 26px 64px;
    border-radius: 10px;

    @media (width <= 1024px) {
      padding: 20px 45px;
      font-size: 20px;
    }
  }

  &--long {
    padding: 11px 85px;
  }

  @media (width <= 500px) {
    // width: 100%;
    // display: flex;
  }
}
