// @use './../config/functions' as *;
// @use './../config/mixins' as *;
// @use './../config/variables';

.form {
  &__fieldset {
  }

  &__label {
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 11px 15px;
    border: 1px solid #000000;

    &::placeholder {
      font-size: 18px;
      font-weight: 400;
      color: #030303;
    }
  }

  &__select {
    width: 100%;
    height: 100%;
    padding: 11px 15px;
    border: 1px solid #000000;
  }

  &__option {
    font-size: 18px;
    font-weight: 400;
    color: #030303;
  }

  &__steppers {
  }
}
