//@use './../config/functions' as *;
//@use './../config/mixins' as *;
//@use './../config/variables';

.form {

  &__fieldset {
  }

  &__label {
    
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    padding: 11px 15px;
    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      color: #030303;
    }
  }

  &__select {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    padding: 11px 15px;
  }

  &__option {
    font-weight: 400;
    font-size: 18px;
    color: #030303;
  }

  &__steppers {
  }
}