
.popup {//overlay
    position: fixed;
    z-index: 12;//больше scrollUp
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //padding: 30px 10px;
    }

    &__content {
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        //transform: scale(0);
        //transform: translate(-100%, 0px);
        background-color: #fff;
        //color: #000;
        padding: 16px 30px;
        @media (max-width: 1000px){
             padding: 0 0; 
        }
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 16px;
        font-size: 25px;
        color: #030303;
        text-decoration: none;
    }
}
.popup.open {//.popup:target
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content{//.popup:target .popup__content
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    //transform: scale(1);
    //transform: translate(0%, 0px);
    opacity: 1;
}


/* 
<a href="#popup" class="popup-link">open popup 1</a>
<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#header" type="button" class="popup__close close-popup">X</a>
            <h3 class="popup__title">title popup 1</h3>
            <div class="popup__text">
                <a href="#popup2" class="popup-link">open popup 2</a> <br>
            </div>
        </div>
    </div>
</div>
<div id="image" class="popup">
    <div class="popup__body">
        <div class="popup__content popup__content-image">
            <a href="#header" type="button" class="popup__close close-popup">X</a>
            <div class="popup__image">
                <img src="assets/img/test-Image/1.png" alt="Image">
            </div>
        </div>
    </div>
</div>
*/