.popup {
  // overlay
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  overflow: hidden auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s; // больше scrollUp

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  &__content {
    position: relative;
    padding: 16px 30px;

    // transform: scale(0);
    // transform: translate(-100%, 0px);
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);

    @media (width <= 1000px) {
      padding: 0;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 16px;
    font-size: 25px;
    text-decoration: none;
    color: #030303;
  }
}

.popup.open {
  // .popup:target
  visibility: visible;
  opacity: 1;
}

.popup.open .popup__content {
  // .popup:target .popup__content
  // transform: scale(1);
  // transform: translate(0%, 0px);
  opacity: 1;
  transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}

/* 
<a href="#popup" class="popup-link">open popup 1</a>
<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#header" type="button" class="popup__close close-popup">X</a>
            <h3 class="popup__title">title popup 1</h3>
            <div class="popup__text">
                <a href="#popup2" class="popup-link">open popup 2</a> <br>
            </div>
        </div>
    </div>
</div>
<div id="image" class="popup">
    <div class="popup__body">
        <div class="popup__content popup__content-image">
            <a href="#header" type="button" class="popup__close close-popup">X</a>
            <div class="popup__image">
                <img src="assets/img/test-Image/1.png" alt="Image">
            </div>
        </div>
    </div>
</div>
*/
