//@use './../config/functions' as *;
//@use './../config/mixins' as *;
//@use './../config/css-variables' as *;

:root {
  --c-slider-comparison: #fff;
}

.slider-comparison {
    position: relative;
    overflow: hidden;
		&__img {
    width: 100%;
    height: 100%;
    position: absolute;
      &--after {
      }

      &--before {
      }
		}

		&__line-top {
      width: 6px;
      height: calc(50% - 20px);
      position: absolute;
      background-color: var(--c-slider-comparison);
      left: 61%;
      top: 0;
      transform: translateX(-50%);
      cursor: pointer;
		}

		&__line-bottom {
      width: 6px;
      height: calc(50% - 20px);
      position: absolute;
      background-color: var(--c-slider-comparison);
      left: 61%;
      bottom: 0;
      transform: translateX(-50%);
      cursor: pointer;
		}

		&__circle {
      position: absolute;
      top: 50%;
      left: 61%;
      width: 39px;
      height: 39px;
      border: 6px solid var(--c-slider-comparison);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      cursor: pointer;
		}

		&__input {
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      width: calc(100% + 40px);
      margin-left: -20px;
      height: 100%;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 700px;
        width: 3px;
        background-color: transparent;
        background-size: contain;
        cursor: pointer;
      }
		}
}

@media (max-width: 767.98px) {
  .slider-comparison {
    width: 100%;
    height: 368px;
      &__img {
        width: 100%;
        height: auto;
      }
      &__line-top,
      &__line-bottom {
        width: 2px;
        height: calc(50% - 10px);
      }
      &__circle {
        width: 20px;
        height: 20px;
        border: 2px solid var(--c-slider-comparison);
      }
  } 
}