//@use './../config/css-variables' as *;
//@use './../config/functions' as *;
//@use './../config/mixins' as *;

.stepper {
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  user-select: none;//чтобы по клику по элементу ничего не выделялось
  &__label {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }

  &__input {
    border: none;
    width: 10px;
    height: 100%;
    outline: none;//чтобы не выделялся инпут в фокусе
    min-width: 2ex; ////минумальная высота 2 буквы (ex = ширина одного символа)
  }

  &__text {
  }

  &__buttons {
    position: absolute;
    right: 2px;
    top: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e5;
    width: 20%;
    height: calc(100% - 2px);
    transform: translateY(-50%);
  }

  &__button {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //padding: 0;
    border: none;
    height: 50%;
    background-color: transparent;
    cursor: pointer;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--up {
    }
    
    &--down {
    }
  }
}


/* 

<div class="stepper">
  <label class="stepper__label">
    <input type="number" class="stepper__input" value="5" min="0" max="999" step="1" inputmode="numeric">
    <span class="stepper__text">шт</span>
  </label>
  <div class="stepper__buttons">
    <button class="stepper__button stepper__button--up" aria-label="увеличить">+</button>
    <button class="stepper__button stepper__button--down" aria-label="уменьшить">-</button>
  </div>
</div>

*/