// @use './../config/css-variables' as *;
// @use './../config/functions' as *;
// @use './../config/mixins' as *;

.stapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 105px;
  border: 1px solid #000000;

  &__button {
    width: 35px;
    height: 25px;
    color: var(--c-white);
    background-color: var(--c-dark);
    cursor: pointer;

    &--light {
      color: var(--c-dark);
      background-color: var(--c-white);
    }
  }

  &__number {
    width: 35px;
    height: 25px;
    color: var(--c-dark);
  }
}
